# Calculating medium volumes and concentrations for experiments

In [1]:
import pandas

## M9 definition

In [67]:
# From Alissa and https://www.sigmaaldrich.com/US/en/product/sigma/m6030?
M9 = pandas.Series({
    "KH2PO4" : 22.04,
    "NaCl" : 8.56,
    "Na2HPO4-12H2O" : 18.93,
    "NH4Cl" : 18.69,
    "MgSO4-7H2O" : 0.97
}) # mM

MW = pandas.Series({
    "KH2PO4" : 136.086,
    "NaCl" : 58.44,
    "Na2HPO4" : 141.96,
    "NH4Cl" : 53.491,
}) # g/mol

supp = pandas.Series({
    "CaCl2-2H2O" : 1.5/1000,
    "FeSO4" : 9.71/1000,
    "MgSO4" : 2,
    "Glucose" : 30
}) # mM

In [68]:
M9_supp = pandas.concat([M9,supp]) # mM
M9_supp

KH2PO4           22.04000
NaCl              8.56000
Na2HPO4-12H2O    18.93000
NH4Cl            18.69000
MgSO4-7H2O        0.97000
CaCl2-2H2O        0.00150
FeSO4             0.00971
MgSO4             2.00000
Glucose          30.00000
dtype: float64

## Stock

In [69]:
stock = pandas.Series({
    k:100 for k in M9_supp.index
})
stock

KH2PO4           100
NaCl             100
Na2HPO4-12H2O    100
NH4Cl            100
MgSO4-7H2O       100
CaCl2-2H2O       100
FeSO4            100
MgSO4            100
Glucose          100
dtype: int64

## Volumes

In [70]:
v = 0.25 # L
c = M9_supp # final conc
c1 = stock

In [75]:
# Stock volumes, mL
v1 = c*v/c1
v1*1000

KH2PO4           55.100000
NaCl             21.400000
Na2HPO4-12H2O    47.325000
NH4Cl            46.725000
MgSO4-7H2O        2.425000
CaCl2-2H2O        0.003750
FeSO4             0.024275
MgSO4             5.000000
Glucose          75.000000
dtype: float64

In [76]:
v1.sum()*1000

253.00302499999998

In [79]:
# Water volume, mL
v2 = v - v1.sum()
v2*1000

-3.0030249999999925